.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height:300px;
    color: black;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #d5d5d5;
    position: fixed;
    padding: 20px;
    margin: 0 auto;
}

.close-modal {
    box-sizing: border-box;
    cursor: grab;
    align-self: flex-end;
    color:black;
}
.modal-image {
    align-self: center;
    transform: scale(1.5);
}
.modal-name {
    align-self: center;
    font-size: 20px;
}