.card-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    position: absolute;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: auto;
    cursor: grab;
    border-radius: 20%;
    box-shadow: 10px 10px 5px #d5d5d5;
}
.card:hover {
    transform: scale(1.1);
}
.card-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.card-name {
    display: flex;
    justify-content: center;
}
.card-id {
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    text-shadow: 3px 3px rgba(0,0,0,1);
}
.card-tag {
    border-radius: 12%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.close-modal {
    transform: scale(2);
}